<h1>Landing Page</h1>
<form #createLoginForm="ngForm" (ngSubmit)="loginAsTrainer(createLoginForm)">
    <div class="formControl">
        <label for="name">Enter your trainer name</label>
        <input 
        id="trainer-name-input" 
        name="name" 
        required 
        minlength="2"         
        ngModel #name="ngModel" 
        type="text"
        placeholder="Trainer name..." />
    </div>
    <button [disabled]="createLoginForm.invalid" type="submit">Sign in</button>
</form>