/* Pokemon list (similar styling exists in pokemon-catalogue.component.css) */
.pokemon-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap:0.3rem;
  }
  .pokemon-item {
    text-decoration: none;
    list-style: none;
    background:#eee;
  }
  .pokemon-item span{
      text-align: center;
  }
  .pokemon-info-container {
      display:grid;
  }
  .pokemon-info-container img{
      margin:auto;
  }
  
  @media screen and (max-width: 992px) {
    .pokemon-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-auto-rows: minmax(100px, auto);
    }
  }
  @media screen and (max-width: 500px) {
      .pokemon-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(100px, auto);
      }
    }
  
    /* Pokemon list end */