<h1>Home</h1>
<div *ngIf="trainer !== null">
    <h2>Trainer: {{trainer.username}}</h2>
    <ul class="pokemon-list" *ngIf="trainer.pokemon.length !== 0">
        <li class="pokemon-item" *ngFor="let pokemon of trainer.pokemon">
            <div class="pokemon-info-container">
                <img src="{{ pokemon.image }}" alt="{{'image of pokemon' + '('+ pokemon.name +')'}}">
                <span>{{ pokemon.name }}</span>
                <button type="button" (click)="releasePokemon(trainer, pokemon)">Release</button>
            </div>
        </li>
    </ul>
    <div *ngIf="trainer.pokemon.length === 0">You have no pokemons or they are not in our data</div>
</div>