<header>
    <nav class="mainNav">
        <ul>
            <li> <a routerLink="/">Home</a></li>
            <li><a routerLink="/trainer">Trainer</a></li>
            <li> <a routerLink="/pokemon-catalogue">Pokemon Catalogue</a></li>
        </ul>
    </nav>

</header>
<div id="pageWrapper">
    <router-outlet></router-outlet>
</div>