<h1>Pokemon Catalogue</h1>
<h2>Click a pokemon to capture it!</h2>
<ul class="pokemon-list">
    <li *ngFor="let pokemon of pokemons" (click)="onPokemonClicked(pokemon)" class="pokemon-item">
        <div class="pokemon-info-container">
            <img src="{{ pokemon.image }}" alt="Pokemon">
            <span>{{ pokemon.name }}</span>
            <!-- If pokemon is owned -->
            <div *ngIf="trainer !== null && trainerOwnsPokemon(pokemon)" class="pokemon-owned-indicator">
                You own this pokemon!
            </div>
        </div>
    </li>
</ul>
