/* You can add global styles to this file, and also import other style files */
:root {
  /* css variables */
  --pagePadding: 10px 15px;
  --sapphireBlue:#101C56;  
  --sapphireBlueLight:#0496FF;
  --white:#E0EFDE;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  padding: var(--pagePadding);
  background-color:var(--sapphireBlue);
}
#pageWrapper {
  padding: var(--pagePadding);
}
footer {
  padding: var(--pagePadding);
}
.mainNav li {
  list-style: none;
  display: inline-block;
  margin: 10px 5px;
  padding:5px;
  border-radius: 0.5rem;
  background-color: var(--sapphireBlueLight);
}
.mainNav li a{
    text-decoration: none;
    font-size:1.3rem;
    color:var(--white);
}
.mainNav li a:hover{
    color:var(--sapphireBlue);
}
button{
  padding:5px;
  margin:5px;
}
.formControl input {
  width: 100%;
  display: block;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.25rem;
  border: 1px solid #e2e2e2;
}
.formControl label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: inline-block;
}
